$colors: (
  "accentColor": hsl(53, 62%, 84%),
  "textColor": hsl(0, 0%, 0%),
  "secondryColor": hsl(245, 76%, 50%),
  "lightBlue": hsl(180, 76%, 51%),
  "white": hsl(0, 0%, 100%),
  "errorColor": hsl(4, 90%, 58%),
);

$transitioDuaration: 500ms;
$smallBorderRadius: 15px;
$bigBorderRadius: 30px;
